:root 
{
    --backgroundGray: rgb(58, 58, 58);
    --blueBorder: rgb(55, 79, 158);
    --taskBg: rgb(150, 212, 233);
}

body
{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--backgroundGray);
    color: white;

    font-family: 'Courier New', Courier, monospace;
}

#header, #footer, #sidebar, #content
{
    border: solid var(--blueBorder);
}

#header
{
    height: 10%;
}

#footer
{
    height: 10%;
}

#center
{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#sidebar
{
    width: 20%;
}

#content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentHeader
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.project
{
    /* background-color: green; */
    border: solid black;
}

.project:hover
{
    background-color: yellow;
}

fieldset
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 300px;
    gap: 5px;
}

textarea 
{
    resize: none;
}

h1
{
    font-size: 50px;
}

#addTaskBtn
{
    height: 50px;
    width: 50px;
}


#addTaskBtn:hover
{
    cursor: pointer;
    filter: invert(100%) sepia(10%) saturate(7465%) hue-rotate(281deg) brightness(117%) contrast(100%);
    /* rotate: 45deg; */
}

.taskDiv
{
    display: flex;
    flex-direction: column;
    background-color: var(--taskBg);
    width: 100%;
    position: relative;
    border: solid rgb(10, 57, 95);
}

.taskDivTop
{
    padding: 10px;
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr 1fr 1fr 1fr;
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--taskBg);
    color: black;
    font-size: 25px;
    font-weight: bolder;
}

.taskDescription
{
    padding: 10px;
    background-color: var(--taskBg);
}

.deleteTaskBtn:hover
{
    cursor: pointer;
    min-height: 50px;
    margin-left: -5px;
    filter: invert(12%) sepia(84%) saturate(4251%) hue-rotate(9deg) brightness(99%) contrast(129%);
}

.expandBtn
{
}

.expandBtn:hover
{
    cursor: pointer;
    /* min-height: 50px; */
    /* margin-left: -5px; */
    filter: invert(85%) sepia(100%) saturate(2268%) hue-rotate(3deg) brightness(111%) contrast(101%);
}

input[type=checkbox] 
{
    cursor: pointer;
}